mixin project(title)
  .mdl-card.mdl-shadow--2dp.card
    .mdl-card__title.mdl-color--primary.mdl-color-text--primary-contrast
      h3.mdl-card__title-text= title
    .mdl-card__supporting-text
      block
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--accent(
        href="https://github.com/swstephe/"+title
      ) visit

mixin footer-button(link, icon, tip)
  li
    a(href=link)
      i(class="fa fa-"+icon+" mdl-color-text--accent" aria-hidden='true')
      | &nbsp;
      = tip

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(
      name='viewport'
      content='width=device-width,initial-scale=1.0,minimum-scale=1.0'
    )
    title Scott Stephens' Personal Website
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    script(src='https://use.fontawesome.com/50885c761f.js')
    link(
      rel='stylesheet'
      href='https://code.getmdl.io/1.2.1/material.indigo-blue.min.css'
    )
    style
      :stylus
        .card
          width 320px
          float left
          margin 1em
          position relative
        .icon-col
          text-align center
        .page-content
          max-width 1280px
          margin-left auto
          margin-right auto
          padding 1em
        p
          padding: 1em
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Scott Stephens
      main#home.mdl-layout__content
        .page-content
          .mdl-grid
            .mdl-cell.mdl-cell--4-col
              h2.mdl-color-text--primary Bio
              hr
              :markdown-it
                I am a software engineer with 30 years of experience.

                I was first introduced to computers through a computer
                club's TRS-80 and a Commodore 64 while in high school.

                At Sonoma State University, we mostly did our courses on
                CDC Cyber/NOS in Pascal, LISP for artificial intelligence
                and some 6502 assembly for digital electronics.  I took
                courses in APL and C (the first time the course was offered
                there).  In computer graphics, a professor said PC's
                were not powerful enough to do ray tracing, which I
                responded by writing one for my Timex-Sinclair Spectrum.
                I got an A+ in my senior AI class for writing a natural
                language translator in LISP that used Esperanto as an
                unambiguous intermediate language.  I also had several
                jobs, tutoring advanced mathematics and computer science,
                creating dBase III reports for the CS department and as
                teachers assistant.

                I picked up some Turbo Prolog and Turbo C++ after college,
                while teaching English in Taiwan, R.O.C..

                I was a data entry contractor for DEC, where I entered
                resume data into the HR database.  I worked on some
                COBOL reports after I finished all the resumes for the
                day and got moved into the manufacturing line reporting
                group.

                I did support at Oracle HQ, then Singapore, then back
                at HQ, learning all the Oracle technology at the time.
                Working on a CD for Oracle support, I caught the interest
                of development and transferred to the Oracle Book team.
                On the side, I ported "oraperl", and Oracle database
                connector for Perl to Windows.

                I went to NetGravity and helped port their Python server
                code to work in Windows.

                Back at Oracle, I worked on a PL/SQL web application
                development environment.  I also worked on some Java
                components, like "parallel portlets" and a JSP compiler.

                In Brunei, I worked under Siemens ona project with the
                country's telecommunication system.  Later I joined
                a partnership called GISCOM Sdn. Bhd., maintaining
                that telecommunication system, designing GIS maps
                for Brunei, and many proposals for government projects
                written in Python and Javascript.

                At Ricoh Innovation Inc., I worked on the Python
                middleware on their e-Paper tablet.  I worked on the
                virtual keyboard code, wifi manager and bluetooth
                interface to scanners, printers and external keyboards.

                At Bank of the West, I am doing Python development and
                appliaction support for their marketing lead generation
                systems.  I also manage some Informatica jobs and
                interfaces to other providers.  I spend a lot of time
                researching Hadoop technologies and getting others
                interested in "Big Data".
            .mdl-cell.mdl-cell--8-col
              h2.mdl-color-text--primary Projects
              hr
              +project('uam')
                :markdown-it
                  I took the book [Unraveling Angular Material](https://www.amazon.com/Unraveling-Angular-Material-Complete-Samples-ebook/dp/B016QTAQIO) by
                  Istvan Novak and rewrote the examples in Jade,
                  Coffeescript and Stylus as an extra challenge.
              +project('num')
                :markdown-it
                  This is an old web app I created a few years ago which
                  automatically writes out numbers in several languages.

                  I wanted to update it using the latest responsive web
                  technologies and as a static website.
              +project('ua')
                :markdown-it
                  I took the book [Unraviling AngularJS 1.5](https://www.amazon.com/Unraveling-AngularJS-Over-Complete-Samples-ebook/dp/B00ULTPP00) by
                  Istvan novak and rewrote the examples in Jade,
                  Coffeescript and Stylus as an extra challenge.
              +project('kitchen')
                :markdown-it
                  I took the example [angular-material-kitchen-sink](https://github.com/mattspaulding/angular-material-kitchen-sink) by Matt Spaulding and
                  rewrote it using Jade, Coffeescript and Stylus.
              +project('freeeze')
                :markdown-it
                  I took a sample website called "freeeze" from
                  templatemonster and tried converting it to Material
                  using Jade, AngularJS, Coffeescript and Stylus.
      footer.mdl-mini-footer
        .mdl-mini-footer__right-section
          ul.mdl-mini-footer__link-list
            +footer-button(
              'http://stackoverflow.com/users/2626001/swstephe',
              'stack-overflow',
              'Stack Overflow'
            )
            +footer-button(
              'https://www.linkedin.com/in/scott-stephens-93080610',
              'linkedin',
              'LinkedIn'
            )
            +footer-button(
              'https://twitter.com/zahibn',
              'twitter',
              'Twitter'
            )
        p
    script(src='https://code.getmdl.io/1.2.1/material.min.js')
    script(src='https://use.fontawesome.com/50885c761f.js')
